.genericButtonContainer {
  text-transform: uppercase;
  padding: 8px;
  width: 250px;height: auto;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
}
