.ObjectCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 5px;
  // background-color: #fff;
  p {
    text-transform: uppercase;
    font-size: 12px;
    &.nom {
      font-weight: bold;
    }
    &.adresse {
      background-color: transparent;
      padding: 0 8px;
      display: flex;align-items: center;
      justify-content: space-between;
      svg{
        font-size: 18px;
        rotate: 45deg;
        color: grey;
      }
    }
  }
  div {
    background-color: #fff;
    padding: 5px 0 5px 5px;position: relative;
    .rightVerticaleLine {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 6px;
      background-color: orange;
    }

  }
}
